In [1]:
import pandas as pd

In [2]:
a = [1, 23, 34, 5]

In [3]:
sr = pd.Series(a)

In [4]:
print(sr)

0     1
1    23
2    34
3     5
dtype: int64

In [7]:
sr2 = pd.Series(a, index=[ 'a' , 'b', 'c', 'd'])

In [8]:
sr2

a     1
b    23
c    34
d     5
dtype: int64